sudo: required
services:
  - docker
before_install:
  - docker build -t jamiemagee/rclone .
script:
  - docker run --rm jamiemagee/rclone --help
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push jamiemagee/rclone;
    fi
